<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="THITRACNGHIEM.Properties.Settings.TRAC_NGHIEMConnectionString"
            connectionString="Data Source=ADMIN\ADMIN01;Initial Catalog=TRAC_NGHIEM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="THITRACNGHIEM.Properties.Settings.TRAC_NGHIEMConnectionString1"
            connectionString="Data Source=ADMIN\MSSQLSERVER1;Initial Catalog=TRAC_NGHIEM;User ID=LTT"
            providerName="System.Data.SqlClient" />
        <add name="TRAC_NGHIEMConnectionString" connectionString="XpoProvider=MSSqlServer;data source=ADMIN\ADMIN01;integrated security=SSPI;initial catalog=TRAC_NGHIEM" />
    </connectionStrings>
</configuration>